@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* { /* Повсеместный шрифт */
    color: var(--Font-Color);
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

html { /* Цветовая схема */
    --Background-Color: #252422;
    --Accent-Color: #EB5E28;
    --Emissive-Color: #403D39;
    --Font-Color: #CCC5B9;
    --Contrast-Color: #FFFCF2;
}

body {
    background-color: var(--Background-Color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

h1 {
    text-wrap: balance;
    width: 80%;
    text-align: center;
    margin: 10px;
}

select, option {
    height: 25px;
    background-color: var(--Emissive-Color);
    border-radius: 2.5px;
}

hr {
    width: 98vw;
}

hr:last-of-type {
    display: none;
}

article {
    padding: 0 1%;
}