@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* { /* Повсеместный шрифт */
    color: var(--Font-Color);
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

html { /* Цветовая схема */
    --Background-Color: #252422;
    --Accent-Color: #EB5E28;
    --Emissive-Color: #403D39;
    --Font-Color: #CCC5B9;
    --Contrast-Color: #FFFCF2;
}

body {
    background-color: var(--Background-Color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

h1 {
    text-wrap: balance;
    width: 80%;
    text-align: center;
    margin: 10px;
}

h1 span {
    font-size: 1rem;
}

select, option {
    height: 25px;
    background-color: var(--Emissive-Color);
    border-radius: 2.5px;
}

hr {
    width: 98%;
    border: 2px solid var(--Emissive-Color);
}

article {
    padding: 0 1%;
}

p {
    text-indent: 1.25em;
}

details {
    margin: 10px 0;
}

summary {
    font-weight: bold;
    list-style-type: none;
}

details summary::before {
    margin: 3px;
    content: '+';
    border: 1px solid var(--Emissive-Color);
    padding: 0 4px;
    border-radius: 5px;
}

details[open] summary::before {
    margin: 3px;
    content: '­­­­­­­­­­­­­­­­­–';        
    border: 1px solid var(--Emissive-Color);
    padding: 0 3px;
    border-radius: 5px;
}

a {
    color: blue;
}

a:visited {
    color: blueviolet;
}

footer {
    padding: 10px 0;
}

footer p {
    font-style: italic;
    width: fit-content;
    margin: auto;
}