/* Файл общих стилей для страницы */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html { /* Цветовая схема по умолчанию */
    --Background-Color: #252422;
    --Accent-Color: #EB5E28;
    --Emissive-Color: #403D39;
    --Font-Color: #CCC5B9;
    --Contrast-Color: #FFFCF2;
}

* { /* Повсеместный шрифт */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--Font-Color);
}

body {
    background-color: var(--Background-Color);
}

hr {
    border: 1px solid var(--Emissive-Color);
}

main hr:last-of-type {
    display: none;
}