/* Файл стилей для компьтерной версии страницы */

@media(min-width: 800px) {
    header {
        flex-direction: row;
    }
    div#photocard {
        width: 300px;
        float: left;
        margin-right: 15px;
    }
    a.socnet-logo img {
        width: 25px;
    }
}