/* Файл стилей для компьтерной версии страницы */

@media(min-width: 800px) {
    header {
        flex-direction: row;
    }
    div#photocard {
        width: 300px;
        float: left;        
        margin: 0 15px 10px 0;
    }
    a.socnet-logo img {
        width: 25px;
    }
    ul {
        margin-left: 350px;
    }
}